.split-app-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100%;
}

.contacts {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: var(--background-secondary);
}

.chat-window {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--background-tertiary);
}
